{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<div class="form">
<h1 class="mt-5" style="font-weight:bold; color: #FCF086">Inscription</h1>

    {{ form(form) }}
</div>
{% endblock %}
